## Clearance Data

This data is from Jan 2019 - Dec 2019 regarding the clearance of consignments of various shipments.

In [1]:
%pylab inline
import pandas as pd
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

In [2]:
data = pd.read_csv("Clearance Data.csv")
data.head()

,Local Agent Code,Clearance No,Clearance Date,Clearance Charge,Manufacture Name,Exporter,Country,Invoice No,Invoice Date,Type of Consignment,...,Shelf Life,Institution (Distribution),Institution Qty,Unit,Unit Price,Total Price,Currency,Free Qty,Net Qty,Remarks
0,OPP,10387,02-12-2018,NaN,Sichuan Haisco Pharmaceutical,Sichuan Haisco Pharmaceutical,China,151018-SHP,20-10-2018,Impurity Reference,...,36,0.0,0.5,kg,4,2.0,USD,0.0,0.5,NaN
1,OPP,10474,02-12-2018,NaN,"ACG Associated Capsules, India",ACG FZE,UAE,909600071,15-11-2018,Pharmaceutical Excipient,...,60,0.0,1000000.0,PCS,0.00288,2880.0,USD,0.0,1000000.0,NaN
2,OPP,10474,02-12-2018,NaN,"ACG Associated Capsules, India",ACG FZE,UAE,909600071,15-11-2018,Pharmaceutical Excipient,...,60,0.0,5000000.0,PCS,0.00283,14150.0,USD,0.0,5000000.0,NaN
3,OPP,10523,03-12-2018,NaN,Covalent Laboratories Pvt Ltd,Covalent Laboratories Pvt Ltd,India,1201200355,09-11-2018,Active Pharmaceutical Ingredient,...,36,0.0,150.0,kg,169,25350.0,USD,0.0,150.0,NaN
4,OPP,10547,03-12-2018,NaN,Hikal Limited,Hikal Limited,India,7.18191E+11,16-11-2018,Active Pharmaceutical Ingredient,...,36,0.0,700.0,kg,47,32900.0,USD,0.0,700.0,NaN

In [3]:
data['Clearance Date'] = pd.to_datetime(data['Clearance Date'], format= '%d-%m-%Y')

In [4]:
data['Invoice Date'] = pd.to_datetime(data['Invoice Date'], format= '%d-%m-%Y',errors = 'ignore')
data.dtypes

Local Agent Code                      object
Clearance No                           int64
Clearance Date                datetime64[ns]
Clearance Charge                     float64
Manufacture Name                      object
Exporter                              object
Country                               object
Invoice No                            object
Invoice Date                          object
Type of Consignment                   object
Date of Arrival                       object
MOH Registered                        object
MOH Reg. No                           object
HS Code                              float64
Trade Name                            object
Generic Name                          object
Batch No                              object
Dosage                                object
Strength/Volume                      float64
Pack Size                             object
Per Pack Quantity                    float64
Manufacture Date                      object
Expiry Date                           object
Shelf Life                            object
Institution (Distribution)           float64
Institution Qty                      float64
Unit                                  object
Unit Price                            object
Total Price                          float64
Currency                              object
Free Qty                             float64
Net Qty                              float64
Remarks                              float64
dtype: object

In [5]:
data['Clearance Date'].isna().sum()

0

In [6]:
data['Invoice Date'].isna().sum()

1

In [7]:
data['Invoice Date'].fillna('10-08-2018')

0       20-10-2018
1       15-11-2018
2       15-11-2018
3       09-11-2018
4       16-11-2018
           ...
1010    25-09-2017
1011    21-09-2017
1012    21-09-2017
1013    21-09-2017
1014    30-07-2017
Name: Invoice Date, Length: 1015, dtype: object

In [8]:
data1 = data.resample('M',on = 'Clearance Date').sum()

In [9]:
data1.head()

,Clearance No,Clearance Charge,HS Code,Strength/Volume,Per Pack Quantity,Institution (Distribution),Institution Qty,Total Price,Free Qty,Net Qty,Remarks
Clearance Date,,,,,,,,,,,
2017-09-30,379407,0.0,1.468897e+09,0.0,0.0,0.0,71411.000,588216.0900,0.0,71411.000,0.0
2017-10-31,680357,0.0,2.284967e+09,0.0,0.0,0.0,2578551.824,958719.8600,0.0,2578551.824,0.0
2017-11-30,881091,0.0,2.625611e+09,0.0,0.0,0.0,133010.575,680696.1082,0.0,133010.575,0.0
2017-12-31,531461,0.0,1.827003e+09,0.0,20.0,0.0,66270.060,729070.9550,0.0,66270.060,0.0
2018-01-31,18956,0.0,1.428020e+09,0.0,0.0,0.0,35312.058,182804.9450,0.0,35312.058,0.0

In [12]:
data1.drop(['Clearance Charge','Remarks','Free Qty'], axis =1)

,Clearance No,HS Code,Strength/Volume,Per Pack Quantity,Institution (Distribution),Institution Qty,Total Price,Net Qty
Clearance Date,,,,,,,,
2017-09-30,379407,1.468897e+09,0.0,0.0,0.0,71411.000,5.882161e+05,71411.000
2017-10-31,680357,2.284967e+09,0.0,0.0,0.0,2578551.824,9.587199e+05,2578551.824
2017-11-30,881091,2.625611e+09,0.0,0.0,0.0,133010.575,6.806961e+05,133010.575
2017-12-31,531461,1.827003e+09,0.0,20.0,0.0,66270.060,7.290710e+05,66270.060
2018-01-31,18956,1.428020e+09,0.0,0.0,0.0,35312.058,1.828049e+05,35312.058
2018-02-28,71393,1.632674e+09,0.0,0.0,0.0,184887.990,1.192711e+06,184887.990
2018-03-31,129982,1.905661e+09,0.0,0.0,60.0,260006.830,3.459740e+05,260006.830
2018-04-30,258200,2.421511e+09,0.0,0.0,0.0,136575.900,1.797835e+06,136575.900
2018-05-31,213073,1.447105e+09,0.0,0.0,0.0,943726.720,5.630492e+05,943726.720
2018-06-30,244047,1.813316e+09,0.0,0.0,0.0,9509962.500,9.076834e+05,9509962.500
2018-07-31,346372,1.651720e+09,0.0,0.0,0.0,155589.200,9.655418e+05,155589.200
2018-08-31,257688,1.088809e+09,0.0,0.0,0.0,76663.000,4.560789e+05,76663.000
2018-09-30,354556,1.745699e+09,0.0,0.0,0.0,92036.835,5.458900e+05,92036.835
2018-10-31,462981,1.468813e+09,0.0,0.0,0.0,846501.320,3.756624e+05,846501.320
2018-11-30,468262,1.721685e+09,0.0,0.0,0.0,5552.925,8.510801e+05,5552.925
2018-12-31,1968455,5.702867e+09,0.0,0.0,0.0,7403694.860,1.197430e+06,7403694.860

In [14]:
data1.shape

(16, 11)